/* POSITIONS */

html, body, aside, main {
  height: 100%;
}

body {
  display: flex;
}

#login {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #ab9ba9;
  background-color: #4d394b;
  text-align: center;
}
.ready #login {
  margin-left: -100%;
  transition: all 0.75s ease;
}
#login form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#login h2 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
@media screen and (max-width: 640px) {
  #login form {
    left: 10%;
    transform: translate(-5%,-50%);
  }
}

aside {
  flex: 0 0 220px;
  max-width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #ab9ba9;
  background-color: #4d394b;
}
body:not(.ready) aside div {
  opacity: 0;
}
aside div {
  opacity: 1;
  transition: all 1.25s ease;
}

aside h1 {
  padding: 0 1rem;
  flex: 0 0;
  font-size: 1.125rem;
  color: #fff;
  font-weight: 900;
  margin-top: 0.5rem;
}
aside ul {
  padding: 0 1rem;
  flex: 1 1;
}
aside footer {
  flex: 0 0;
}

main {
  flex: 1 1;
  color: #555459;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
main ul {
  padding: 0 1rem;
  flex: 1 1;
  overflow: auto;
  padding-top: 8px;
  padding-bottom: 0.625rem;
}
main footer {
  flex: 0 0;
}

/* FOUNDATION OVERWRITES */

ul {
  list-style-type: none;
  margin: 0;
}
.input-group {
  margin-bottom: 0;
}
input {
  box-shadow: none !important;
}

.ellipsis {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.bullet {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 9px;
}

/* EMOJI OVERWRITE */

span.emoji-outer {
  vertical-align: sub;
}
span.emoji-sizer {
  font-size: 1.1em;
}

/* CUSTOM CLASSES */

main .username {
  font-weight: 900;
  color: #2c2d30;
}
main .received_at {
  margin-left: 0.25rem;
  color: #9e9ea6;
  font-size: .75rem;
  white-space: nowrap;
}
main .content {
  margin-top: -0.375rem;
  margin-left: 14px;
}
