<!doctype html>
<html ng-app="messagesApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Chatchan</title>
  <script src="/js/angular.min.js" type="text/javascript"></script>
  <script src="/js/password-generator.min.js" type="text/javascript"></script>
  <script src="/js/cryptico.min.js" type="text/javascript"></script>
  <script src="http://faye.chatchan.us/client.js" type="text/javascript"></script>
  <script>
    var faye = new Faye.Client('http://faye.chatchan.us/');
    var messagesApp = angular.module('messagesApp', [])
    messagesApp.controller('messagesController', function($scope) {
      $scope.newMessage = { content: '' }
      $scope.me = {
        privateKey: cryptico.generateRSAKey(generatePassword(40, false), 1024)
      }
      $scope.me.publicKey = cryptico.publicKeyString($scope.me.privateKey);
      $scope.messages = [];

      faye.subscribe('/messages', function(data) {
        data.content = cryptico.decrypt(data.content, $scope.me.privateKey).plaintext;
        $scope.messages.push(data);
        $scope.$apply();
      });

      $scope.sendMessage = function() {
        $scope.newMessage.content = cryptico.encrypt($scope.newMessage.content, $scope.me.publicKey).cipher;
        faye.publish('/messages', $scope.newMessage);
        $scope.newMessage = { content: '' }
      };
    });
  </script>
</head>
<body>
  <div ng-controller="messagesController">
    <ul>
      <li ng-repeat="message in messages">
        {{message.content}}
      </li>
    </ul>
    <form ng-submit="sendMessage()">
      <input type="text" ng-model="newMessage.content">
      <input type="submit" value="send">
    </form>
  </div>
</body>
</html>
