<!doctype html>
<html ng-app="messagesApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Chatchan</title>
  <script src="/js/angular.min.js" type="text/javascript"></script>
  <script src="/js/client.js" type="text/javascript"></script>
  <script src="/js/password-generator.js" type="text/javascript"></script>
  <script src="/js/cryptico.js" type="text/javascript"></script>
  <script src="/js/application.js" type="text/javascript"></script>
</head>
<body>
  <div ng-controller="messagesController">
    <h2>Users</h2>
    <ul class="users">
      <li ng-repeat="user in users">
        <span class="user">{{user.username}} <small>{{user.publicKeyID}}</small></span>
      </li>
    </ul>
    <h2>Messages</h2>
    <ul class="messages">
      <li ng-repeat="message in messages">
        <span class="user">{{message.user.username}} <small>{{message.user.publicKeyID}}</small></span>:
        {{message.content}}
      </li>
    </ul>
    <form ng-submit="knock()">
      <input type="text" placeholder="Your username" ng-model="me.username">
      <input type="submit" value="Knock knock">
    </form>
    <form ng-submit="sendMessage()">
      <input type="text" placeholder="Your message" ng-disabled="newMessage.disabled" ng-model="newMessage.content">
      <input type="submit" value="Send">
    </form>
  </div>
</body>
</html>
