<!doctype html>
<html lang="en" dir="ltr" ng-app="messagesApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatchan</title>
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/emoji.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="messagesController">
  <aside>
    <h1>Chatchan</h1>
    <ul>
      <li class="ellipsis" ng-repeat="user in users track by $index">
        <span class="bullet" ng-style="{'background-color': user.color}"></span>
        <span ng-attr-title="{{message.user.publicKeyID}}" class="username" ng-bind="user.username"></span>
      </li>
    </ul>
    <footer>
      <form ng-show="!ready" ng-submit="knock()">
        <div class="input-group">
          <input type="text" class="input-group-field" placeholder="Your username" ng-model="me.username">
          <div class="input-group-button">
            <input type="submit" value="Connect" class="button postfix">
          </div>
        </div>
      </form>
    </footer>
  </aside>
  <main>
    <ul id="auto-scroll">
      <li ng-repeat="message in messages">
        <div class="meta">
          <span class="bullet" ng-style="{'background-color': message.user.color}"></span>
          <span ng-attr-title="{{message.user.publicKeyID}}" class="username" ng-bind="message.user.username"></span>
          <span ng-attr-title="{{message.received_at | date:'MMM d, h:mm:ss a'}}" class="received_at" ng-bind="message.received_at | date:'h:mm a'"></span>
        </div>
        <div class="content" ng-bind-html="message.content"></div>
      </li>
    </ul>
    <footer class="footer">
      <form ng-show="ready" ng-submit="submitMessage()">
        <div class="input-group">
          <input type="text" class="input-group-field" placeholder="Your message" ng-disabled="newMessage.disabled" ng-model="newMessage.content">
          <div class="input-group-button">
            <input type="submit" value="Send" class="button postfix">
          </div>
        </div>
      </form>
    </footer>
  </main>

  <script src="js/angular.min.js" type="text/javascript"></script>
  <script src="js/client.js" type="text/javascript"></script>
  <script src="js/password-generator.min.js" type="text/javascript"></script>
  <script src="js/cryptico.min.js" type="text/javascript"></script>
  <script src="js/emoji.min.js" type="text/javascript"></script>
  <script src="js/app.js" type="text/javascript"></script>
</body>
</html>
